# Other bonds turnover

In [1]:
# !pip install --proxy http://gvolodin:Pa$$w0rd2021@10.20.30.40:8080 psycopg2 
# !pip install --proxy http://gvolodin:Pa$$w0rd2021@10.20.30.40:8080 sqlalchemy
# !pip install --proxy http://gvolodin:Pa$$w0rd2021@10.20.30.40:8080 statsmodels.regression.rolling
from pandas import read_excel
import re
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from decimal import Decimal

### Download data from Green Plum (PostgreSQL)

In [2]:
# follows django database settings format, replace with your own settings
DATABASES = {
    'algo':{
        'NAME': 'algo',
        'USER': 'tech_lims',
        'PASSWORD': 'tech_lims1',
        'HOST': 'gp6node1',
        'PORT': 5432,
    },
}

# choose the database to use
db = DATABASES['algo']

# construct an engine connection string
engine_string = "postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}".format(
    user = db['USER'],
    password = db['PASSWORD'],
    host = db['HOST'],
    port = db['PORT'],
    database = db['NAME'],
)

# create sqlalchemy engine
engine = create_engine(engine_string)

##### Corporate Eurobonds

In [3]:
#Corporate_eurobonds

#download data from the excel-list
my_sheet = 'MICEX_Eurobonds_Corporate'
file_name = r'C:\Users\pzapolsky\Desktop\123\All_symbols_03122020.xlsx'
wb_corp_eurobonds = read_excel(file_name, sheet_name = my_sheet)
wb_corp_eurobonds = wb_corp_eurobonds.rename({'Unnamed: 0':'SECID', 'Unnamed: 1':'SHORTNAME', 'Unnamed: 2':'NAME', 'Unnamed: 3':'TYPENAME', 'Unnamed: 4':'ISIN'}, axis = 1).drop([0])
wb_corp_eurobonds['SQL_query_ID'] = "'%%"+wb_corp_eurobonds['SECID']+"%%'"

#Prepare a query
list_corp_eurobonds = list(wb_corp_eurobonds['SQL_query_ID'])
list_corp_eurobonds
Corporate_eurobonds = "select * from tickdata.trades t where (t.tradedate between '20200901' and '20210330') AND ("

for i in list_corp_eurobonds[:]:
    if list_corp_eurobonds.index(i) < (len(list_corp_eurobonds)-1):
        Corporate_eurobonds += 'symbol like '+i+" OR "
    else: 
        Corporate_eurobonds += 'symbol like '+i+")"
        
Corporate_eurobonds

"select * from tickdata.trades t where (t.tradedate between '20200901' and '20210330') AND (symbol like '%%AMUNIBB2AER2%%' OR symbol like '%%XS0191754729%%' OR symbol like '%%XS0316524130%%' OR symbol like '%%XS0559915961%%' OR symbol like '%%XS0620695204%%' OR symbol like '%%XS0743596040%%' OR symbol like '%%XS0800817073%%' OR symbol like '%%XS0810596832%%' OR symbol like '%%XS0830192711%%' OR symbol like '%%XS0861981180%%' OR symbol like '%%XS0864383723%%' OR symbol like '%%XS0893212398%%' OR symbol like '%%XS0993162683%%' OR symbol like '%%XS0997544860%%' OR symbol like '%%XS1143363940%%' OR symbol like '%%XS1298447019%%' OR symbol like '%%XS1405775377%%' OR symbol like '%%XS1433454243%%' OR symbol like '%%XS1449458915%%' OR symbol like '%%XS1510534677%%' OR symbol like '%%XS1533915721%%' OR symbol like '%%XS1577961516%%' OR symbol like '%%XS1589106910%%' OR symbol like '%%XS1589324075%%' OR symbol like '%%XS1601094755%%' OR symbol like '%%XS1634369067%%' OR symbol like '%%XS1634369224%%' OR symbol like '%%XS1713473608%%' OR symbol like '%%XS1721463500%%' OR symbol like '%%XS1752568144%%' OR symbol like '%%XS1759801720%%' OR symbol like '%%XS1760804184%%' OR symbol like '%%XS1843434959%%' OR symbol like '%%XS1843443273%%' OR symbol like '%%XS1951067039%%' OR symbol like '%%XS1961080501%%' OR symbol like '%%XS1964558339%%' OR symbol like '%%XS2010043656%%' OR symbol like '%%XS2010044381%%' OR symbol like '%%XS2010044621%%' OR symbol like '%%XS2099763075%%' OR symbol like '%%XS2113968148%%' OR symbol like '%%XS2124187571%%' OR symbol like '%%XS2131995958%%' OR symbol like '%%XS2134628069%%' OR symbol like '%%XS2157526315%%' OR symbol like '%%XS2159874002%%' OR symbol like '%%XS2196334671%%' OR symbol like '%%XS2249778247%%')"

In [29]:
# make a query

sql = \
Corporate_eurobonds

 
# read a table from database into pandas dataframe, replace "tablename" with your table name
Corporate_eurobonds_table = pd.read_sql(sql,engine)
Corporate_eurobonds_table.head()

,tradedate,local_timestamp,symbol,price,size,trade_id,trade_timestamp
0,2020-09-02,10:19:53.076000,MICEX.BND.XS1405775377.MR1,4.30,3,3282955609,2020-09-02 10:19:53.036450
1,2020-09-04,10:40:40.824000,MICEX.BND.XS2010044381.MR1,4.30,16,3286194459,2020-09-04 10:40:40.728578
2,2020-09-08,16:41:22.661000,MICEX.BND.XS0893212398.TQOE,106.85,1,3289922745,2020-09-08 16:41:22.629207
3,2020-09-09,18:38:46.061000,MICEX.BND.XS0893212398.TQOE,106.80,2,3291637505,2020-09-09 18:38:46.015914
4,2020-09-11,12:34:49.001000,MICEX.BND.XS0191754729.MR1,4.30,3,3293408139,2020-09-11 12:34:48.944376

##### Sovereign Eurobonds

In [30]:
#download data from the excel-list
my_sheet = 'MICEX_Eurobonds_Sovereign'
file_name = r'C:\Users\pzapolsky\Desktop\123\All_symbols_03122020.xlsx'
wb_sov_eurobonds = read_excel(file_name, sheet_name = my_sheet)
wb_sov_eurobonds = wb_sov_eurobonds.rename({'Unnamed: 0':'SECID', 'Unnamed: 1':'SHORTNAME', 'Unnamed: 2':'NAME', 'Unnamed: 3':'TYPENAME', 'Unnamed: 4':'ISIN'}, axis = 1).drop([0])
wb_sov_eurobonds['SQL_query_ID'] = "'%%"+wb_sov_eurobonds['SECID']+"%%'"

#Prepare a query
list_sov_eurobonds = list(wb_sov_eurobonds['SQL_query_ID'])
list_sov_eurobonds
Sovereign_eurobonds = "select * from tickdata.trades t where (t.tradedate between '20200901' and '20210330') AND ("

for i in list_sov_eurobonds[:]:
    if list_sov_eurobonds.index(i) < (len(list_sov_eurobonds)-1):
        Sovereign_eurobonds += 'symbol like '+i+" OR "
    else: 
        Sovereign_eurobonds += 'symbol like '+i+")"
        
Sovereign_eurobonds

"select * from tickdata.trades t where (t.tradedate between '20200901' and '20210330') AND (symbol like '%%RU000A0JWHA4%%' OR symbol like '%%RU000A0JXTS9%%' OR symbol like '%%RU000A0JXU14%%' OR symbol like '%%RU000A0ZYYN4%%' OR symbol like '%%RU000A0ZZVE6%%' OR symbol like '%%RU000A1006S9%%' OR symbol like '%%RU000A102CK5%%' OR symbol like '%%RU000A102CL3%%' OR symbol like '%%XS0088543193%%' OR symbol like '%%XS0114288789%%' OR symbol like '%%XS0767472458%%' OR symbol like '%%XS0767473852%%' OR symbol like '%%XS0971721450%%' OR symbol like '%%XS0971721963%%')"

In [31]:
# make a query


sql = \
Sovereign_eurobonds

 
# read a table from database into pandas dataframe, replace "tablename" with your table name
Sovereign_eurobonds_table = pd.read_sql(sql,engine)
Sovereign_eurobonds_table.head()

,tradedate,local_timestamp,symbol,price,size,trade_id,trade_timestamp
0,2020-09-01,10:15:55.218000,MICEX.BND.XS0088543193.MR1,4.1500,8,3281450591,2020-09-01 10:15:55.165831
1,2020-09-03,11:58:16.509000,MICEX.BND.XS0114288789.MR1,4.2700,2700000,3284839185,2020-09-03 11:58:16.442163
2,2020-09-04,10:31:54.691000,MICEX.BND.RU000A0JXTS9.MR1,4.1800,1,3286158873,2020-09-04 10:31:54.598766
3,2020-09-07,10:49:42.601000,MICEX.BND.XS0114288789.MR1,4.2500,1157699,3287601507,2020-09-07 10:49:42.535274
4,2020-09-07,14:22:05.034000,MICEX.BND.XS0088543193.M2,173.0003,1,3288061906,2020-09-07 14:22:04.981400

##### MFO Eurobonds

In [23]:
#download data from the excel-list
my_sheet = 'MICEX_Eurobonds_MFO'
file_name = r'C:\Users\pzapolsky\Desktop\123\All_symbols_03122020.xlsx'
wb_mfo_eurobonds = read_excel(file_name, sheet_name = my_sheet)
wb_mfo_eurobonds = wb_mfo_eurobonds.rename({'Unnamed: 0':'SECID', 'Unnamed: 1':'SHORTNAME', 'Unnamed: 2':'NAME', 'Unnamed: 3':'TYPENAME', 'Unnamed: 4':'ISIN'}, axis = 1).drop([0])
wb_mfo_eurobonds['SQL_query_ID'] = "'%%"+wb_mfo_eurobonds['SECID']+"%%'"

#Prepare a query
list_mfo_eurobonds = list(wb_mfo_eurobonds['SQL_query_ID'])
list_mfo_eurobonds
MFO_eurobonds = "select * from tickdata.trades t where (t.tradedate between '20200101' and '20210330') AND ("

for i in list_mfo_eurobonds[:]:
    if list_mfo_eurobonds.index(i) < (len(list_mfo_eurobonds)-1):
        MFO_eurobonds += 'symbol like '+i+" OR "
    else: 
        MFO_eurobonds += 'symbol like '+i+")"
        
MFO_eurobonds

"select * from tickdata.trades t where (t.tradedate between '20200101' and '20210330') AND (symbol like '%%RU000A0JRTS1%%' OR symbol like '%%RU000A0JS918%%' OR symbol like '%%RU000A0JS926%%' OR symbol like '%%RU000A0JS934%%' OR symbol like '%%RU000A0JUG56%%' OR symbol like '%%RU000A0JUG72%%' OR symbol like '%%RU000A0JUG98%%' OR symbol like '%%RU000A100D30%%' OR symbol like '%%RU000A100D63%%' OR symbol like '%%RU000A100D89%%' OR symbol like '%%RU000A101L54%%' OR symbol like '%%RU000A101LM4%%' OR symbol like '%%RU000A101LN2%%' OR symbol like '%%RU000A101MZ4%%' OR symbol like '%%RU000A101PK9%%' OR symbol like '%%RU000A101RJ7%%' OR symbol like '%%RU000A101RP4%%' OR symbol like '%%RU000A101RV2%%' OR symbol like '%%RU000A101RZ3%%' OR symbol like '%%RU000A1023H7%%')"

In [8]:
# make a query

sql = \
MFO_eurobonds

 
# read a table from database into pandas dataframe, replace "tablename" with your table name
MFO_eurobonds_table = pd.read_sql(sql,engine)
MFO_eurobonds_table.head()

,tradedate,local_timestamp,symbol,price,size,trade_id,trade_timestamp
0,2020-01-09,18:30:22.567000,MICEX.BND.RU000A100D63.M,103.92,2,3068359424,2020-01-09 18:30:22.557112
1,2020-01-10,11:23:10.276000,MICEX.BND.RU000A100D30.M,104.00,12,3068635931,2020-01-10 11:23:10.261063
2,2020-01-10,12:42:07.198000,MICEX.BND.RU000A100D63.M,103.63,10,3068797292,2020-01-10 12:42:07.187509
3,2020-01-10,13:13:16.191000,MICEX.BND.RU000A100D30.M,103.89,2,3068835099,2020-01-10 13:13:16.178270
4,2020-01-10,15:40:54.120000,MICEX.BND.RU000A100D63.M,103.80,93,3069026826,2020-01-10 15:40:54.111169

##### OFZ

In [3]:
#download data from the excel-list
my_sheet = 'MICEX_OFZ'
file_name = r'C:\Users\pzapolsky\Desktop\123\All_symbols_03122020.xlsx'
wb_ofz = read_excel(file_name, sheet_name = my_sheet)
wb_ofz = wb_ofz.rename({'Unnamed: 0':'SECID', 'Unnamed: 1':'SHORTNAME', 'Unnamed: 2':'NAME', 'Unnamed: 3':'TYPENAME', 'Unnamed: 4':'ISIN'}, axis = 1).drop([0])
wb_ofz['SQL_query_ID'] = "'%%"+wb_ofz['SECID']+"%%'"

#Prepare a query
list_ofz = list(wb_ofz['SQL_query_ID'])
list_ofz
ofz = "select * from tickdata.quotes q where (q.quotedate between '20210515' and '20210601') AND ("

for i in list_ofz[:]:
    if list_ofz.index(i) < (len(list_ofz)-1):
        ofz += 'symbol like '+i+" OR "
    else: 
        ofz += 'symbol like '+i+")"
        
ofz

"select * from tickdata.quotes q where (q.quotedate between '20210515' and '20210601') AND (symbol like '%%SU24020RMFS8%%' OR symbol like '%%SU24021RMFS6%%' OR symbol like '%%SU25083RMFS5%%' OR symbol like '%%SU25084RMFS3%%' OR symbol like '%%SU26205RMFS3%%' OR symbol like '%%SU26207RMFS9%%' OR symbol like '%%SU26209RMFS5%%' OR symbol like '%%SU26211RMFS1%%' OR symbol like '%%SU26212RMFS9%%' OR symbol like '%%SU26215RMFS2%%' OR symbol like '%%SU26217RMFS8%%' OR symbol like '%%SU26218RMFS6%%' OR symbol like '%%SU26219RMFS4%%' OR symbol like '%%SU26220RMFS2%%' OR symbol like '%%SU26221RMFS0%%' OR symbol like '%%SU26222RMFS8%%' OR symbol like '%%SU26223RMFS6%%' OR symbol like '%%SU26224RMFS4%%' OR symbol like '%%SU26225RMFS1%%' OR symbol like '%%SU26226RMFS9%%' OR symbol like '%%SU26227RMFS7%%' OR symbol like '%%SU26228RMFS5%%' OR symbol like '%%SU26229RMFS3%%' OR symbol like '%%SU26230RMFS1%%' OR symbol like '%%SU26231RMFS9%%' OR symbol like '%%SU26232RMFS7%%' OR symbol like '%%SU26233RMFS5%%' OR symbol like '%%SU26234RMFS3%%' OR symbol like '%%SU26235RMFS0%%' OR symbol like '%%SU26236RMFS8%%' OR symbol like '%%SU29006RMFS2%%' OR symbol like '%%SU29007RMFS0%%' OR symbol like '%%SU29008RMFS8%%' OR symbol like '%%SU29009RMFS6%%' OR symbol like '%%SU29010RMFS4%%' OR symbol like '%%SU29012RMFS0%%' OR symbol like '%%SU29013RMFS8%%' OR symbol like '%%SU29014RMFS6%%' OR symbol like '%%SU29015RMFS3%%' OR symbol like '%%SU29016RMFS1%%' OR symbol like '%%SU29017RMFS9%%' OR symbol like '%%SU29018RMFS7%%' OR symbol like '%%SU29019RMFS5%%' OR symbol like '%%SU29020RMFS3%%' OR symbol like '%%SU46011RMFS1%%' OR symbol like '%%SU46012RMFS9%%' OR symbol like '%%SU46018RMFS6%%' OR symbol like '%%SU46020RMFS2%%' OR symbol like '%%SU46022RMFS8%%' OR symbol like '%%SU46023RMFS6%%' OR symbol like '%%SU52001RMFS3%%' OR symbol like '%%SU52002RMFS1%%' OR symbol like '%%SU52003RMFS9%%' OR symbol like '%%SU53003RMFS8%%' OR symbol like '%%SU53004RMFS6%%' OR symbol like '%%SU53005RMFS3%%' OR symbol like '%%SU53006RMFS1%%')"

In [4]:
# Make a query

sql = \
ofz

 
# read a table from database into pandas dataframe, replace "tablename" with your table name
OFZ_table = pd.read_sql(sql,engine)
OFZ_table.head()

,quotedate,local_timestamp,symbol,bid,bid_size,ask,ask_size,quote_id,tfutsettdate,tfutsettdateask,tfutsettdatebid,ttransacttime
0,2021-05-17,09:50:03.385000,MICEX.BND.SU26224RMFS4.M2,100.189,1,101.63,1,None,None,None,None,None
1,2021-05-17,09:50:03.420000,MICEX.BND.SU26218RMFS6.M2,110.300,25,112.08,25,None,None,None,None,None
2,2021-05-17,09:50:03.435000,MICEX.BND.SU26227RMFS7.M2,102.700,1,0.00,0,None,None,None,None,None
3,2021-05-17,09:50:03.393000,MICEX.BND.SU46022RMFS8.M2,99.942,1,0.00,0,None,None,None,None,None
4,2021-05-17,09:50:03.901000,MICEX.BND.SU26225RMFS1.M2,101.043,2,101.40,1,None,None,None,None,None

##### Corporate_local

In [5]:
#download data from the excel-list
my_sheet = 'MICEX_Corporate_local'
file_name = r'C:\Users\pzapolsky\Desktop\123\All_symbols_03122020.xlsx'
wb_corporate_local = read_excel(file_name, sheet_name = my_sheet)
wb_corporate_local = wb_corporate_local.rename({'Unnamed: 0':'SECID', 'Unnamed: 1':'SHORTNAME', 'Unnamed: 2':'NAME', 'Unnamed: 3':'TYPENAME', 'Unnamed: 4':'ISIN'}, axis = 1).drop([0])
wb_corporate_local['SQL_query_ID'] = "'%%"+wb_corporate_local['SECID']+"%%'"

#Prepare a query
list_corporate_local = list(wb_corporate_local['SQL_query_ID'])
list_corporate_local
corporate_local = "select * from tickdata.trades t where (t.tradedate between '20210515' and '20210601') AND ("

for i in list_corporate_local[:]:
    if list_corporate_local.index(i) < (len(list_corporate_local)-1):
        corporate_local += 'symbol like '+i+" OR "
    else: 
        corporate_local += 'symbol like '+i+")"
        
corporate_local

"select * from tickdata.trades t where (t.tradedate between '20210515' and '20210601') AND (symbol like '%%RU000A0JQ5C5%%' OR symbol like '%%RU000A0JQ7Z2%%' OR symbol like '%%RU000A0JQ8V9%%' OR symbol like '%%RU000A0JQAL8%%' OR symbol like '%%RU000A0JQAM6%%' OR symbol like '%%RU000A0JQRD9%%' OR symbol like '%%RU000A0JQXG0%%' OR symbol like '%%RU000A0JR4U9%%' OR symbol like '%%RU000A0JR5F7%%' OR symbol like '%%RU000A0JR6S8%%' OR symbol like '%%RU000A0JR878%%' OR symbol like '%%RU000A0JR8L9%%' OR symbol like '%%RU000A0JR8P0%%' OR symbol like '%%RU000A0JRCX7%%' OR symbol like '%%RU000A0JRDY3%%' OR symbol like '%%RU000A0JREW5%%' OR symbol like '%%RU000A0JREX3%%' OR symbol like '%%RU000A0JREZ8%%' OR symbol like '%%RU000A0JRF11%%' OR symbol like '%%RU000A0JRFN1%%' OR symbol like '%%RU000A0JRFP6%%' OR symbol like '%%RU000A0JRHF3%%' OR symbol like '%%RU000A0JRHG1%%' OR symbol like '%%RU000A0JRJB8%%' OR symbol like '%%RU000A0JRJC6%%' OR symbol like '%%RU000A0JRJL7%%' OR symbol like '%%RU000A0JRJS2%%' OR symbol like '%%RU000A0JRJT0%%' OR symbol like '%%RU000A0JRJV6%%' OR symbol like '%%RU000A0JRJY0%%' OR symbol like '%%RU000A0JRK22%%' OR symbol like '%%RU000A0JRKC4%%' OR symbol like '%%RU000A0JRKD2%%' OR symbol like '%%RU000A0JRKM3%%' OR symbol like '%%RU000A0JRL96%%' OR symbol like '%%RU000A0JRLE8%%' OR symbol like '%%RU000A0JRMB2%%' OR symbol like '%%RU000A0JRMC0%%' OR symbol like '%%RU000A0JRTN2%%' OR symbol like '%%RU000A0JRU20%%' OR symbol like '%%RU000A0JRU46%%' OR symbol like '%%RU000A0JRUY7%%' OR symbol like '%%RU000A0JRV52%%' OR symbol like '%%RU000A0JRVN8%%' OR symbol like '%%RU000A0JRVU3%%' OR symbol like '%%RU000A0JS1A6%%' OR symbol like '%%RU000A0JS1B4%%' OR symbol like '%%RU000A0JS1F5%%' OR symbol like '%%RU000A0JS1W0%%' OR symbol like '%%RU000A0JS264%%' OR symbol like '%%RU000A0JS3L9%%' OR symbol like '%%RU000A0JS3M7%%' OR symbol like '%%RU000A0JS3U0%%' OR symbol like '%%RU000A0JS470%%' OR symbol like '%%RU000A0JS4J1%%' OR symbol like '%%RU000A0JS4K9%%' OR symbol like '%%RU000A0JS4L7%%' OR symbol like '%%RU000A0JS4Z7%%' OR symbol like '%%RU000A0JS5A7%%' OR symbol like '%%RU000A0JS5B5%%' OR symbol like '%%RU000A0JS5E9%%' OR symbol like '%%RU000A0JS5F6%%' OR symbol like '%%RU000A0JS5L4%%' OR symbol like '%%RU000A0JS5M2%%' OR symbol like '%%RU000A0JS5R1%%' OR symbol like '%%RU000A0JS603%%' OR symbol like '%%RU000A0JS6N8%%' OR symbol like '%%RU000A0JS710%%' OR symbol like '%%RU000A0JS793%%' OR symbol like '%%RU000A0JS9X1%%' OR symbol like '%%RU000A0JSGV0%%' OR symbol like '%%RU000A0JSQ58%%' OR symbol like '%%RU000A0JT3J2%%' OR symbol like '%%RU000A0JT403%%' OR symbol like '%%RU000A0JT593%%' OR symbol like '%%RU000A0JT6B2%%' OR symbol like '%%RU000A0JT6J5%%' OR symbol like '%%RU000A0JT7M7%%' OR symbol like '%%RU000A0JT7T2%%' OR symbol like '%%RU000A0JT874%%' OR symbol like '%%RU000A0JT940%%' OR symbol like '%%RU000A0JT965%%' OR symbol like '%%RU000A0JTB96%%' OR symbol like '%%RU000A0JTCV7%%' OR symbol like '%%RU000A0JTD52%%' OR symbol like '%%RU000A0JTDX1%%' OR symbol like '%%RU000A0JTFB2%%' OR symbol like '%%RU000A0JTH82%%' OR symbol like '%%RU000A0JTHF9%%' OR symbol like '%%RU000A0JTKA4%%' OR symbol like '%%RU000A0JTLJ3%%' OR symbol like '%%RU000A0JTLL9%%' OR symbol like '%%RU000A0JTM28%%' OR symbol like '%%RU000A0JTM36%%' OR symbol like '%%RU000A0JTM44%%' OR symbol like '%%RU000A0JTM51%%' OR symbol like '%%RU000A0JTMG7%%' OR symbol like '%%RU000A0JTMK9%%' OR symbol like '%%RU000A0JTS06%%' OR symbol like '%%RU000A0JTS22%%' OR symbol like '%%RU000A0JTU85%%' OR symbol like '%%RU000A0JTVJ2%%' OR symbol like '%%RU000A0JTW83%%' OR symbol like '%%RU000A0JTWT9%%' OR symbol like '%%RU000A0JTX09%%' OR symbol like '%%RU000A0JTYJ6%%' OR symbol like '%%RU000A0JTYK4%%' OR symbol like '%%RU000A0JTYL2%%' OR symbol like '%%RU000A0JTYM0%%' OR symbol like '%%RU000A0JTYN8%%' OR symbol like '%%RU000A0JTZF1%%' OR symbol like '%%RU000A0JU1Q8%%' OR symbol like '%%RU000A0JU278%%' OR symbol like '%%RU000A0JU2K9%%' OR symbol like '%%RU000A0JU2L7%%' OR symbol like '%%RU000A0JU2N3%%' OR symbol like '%%RU000A0JU3J9%%' OR symbol like '%%RU000A0JU6A1%%' OR symbol like '%%RU000A0JU7S1%%' OR symbol like '%%RU000A0JU872%%' OR symbol like '%%RU000A0JU9K4%%' OR symbol like '%%RU000A0JUAD7%%' OR symbol like '%%RU000A0JUAH8%%' OR symbol like '%%RU000A0JUBD5%%' OR symbol like '%%RU000A0JUBT1%%' OR symbol like '%%RU000A0JUC19%%' OR symbol like '%%RU000A0JUC92%%' OR symbol like '%%RU000A0JUCA9%%' OR symbol like '%%RU000A0JUCX1%%' OR symbol like '%%RU000A0JUD00%%' OR symbol like '%%RU000A0JUD34%%' OR symbol like '%%RU000A0JUDX9%%' OR symbol like '%%RU000A0JUFE4%%' OR symbol like '%%RU000A0JUFF1%%' OR symbol like '%%RU000A0JUFG9%%' OR symbol like '%%RU000A0JUFH7%%' OR symbol like '%%RU000A0JUHV4%%' OR symbol like '%%RU000A0JUJ87%%' OR symbol like '%%RU000A0JUJG1%%' OR symbol like '%%RU000A0JUJW8%%' OR symbol like '%%RU000A0JUKX4%%' OR symbol like '%%RU000A0JURP5%%' OR symbol like '%%RU000A0JURQ3%%' OR symbol like '%%RU000A0JURT7%%' OR symbol like '%%RU000A0JUTC9%%' OR symbol like '%%RU000A0JUV81%%' OR symbol like '%%RU000A0JUW23%%' OR symbol like '%%RU000A0JV0T3%%' OR symbol like '%%RU000A0JV169%%' OR symbol like '%%RU000A0JV185%%' OR symbol like '%%RU000A0JV1B9%%' OR symbol like '%%RU000A0JV1C7%%' OR symbol like '%%RU000A0JV3T7%%' OR symbol like '%%RU000A0JV3U5%%' OR symbol like '%%RU000A0JV4R9%%' OR symbol like '%%RU000A0JV508%%' OR symbol like '%%RU000A0JV664%%' OR symbol like '%%RU000A0JV755%%' OR symbol like '%%RU000A0JVB19%%' OR symbol like '%%RU000A0JVB27%%' OR symbol like '%%RU000A0JVB35%%' OR symbol like '%%RU000A0JVCB5%%' OR symbol like '%%RU000A0JVD25%%' OR symbol like '%%RU000A0JVDD9%%' OR symbol like '%%RU000A0JVE65%%' OR symbol like '%%RU000A0JVF98%%' OR symbol like '%%RU000A0JVFN3%%' OR symbol like '%%RU000A0JVHJ7%%' OR symbol like '%%RU000A0JVJY2%%' OR symbol like '%%RU000A0JVKH5%%' OR symbol like '%%RU000A0JVLA8%%' OR symbol like '%%RU000A0JVN56%%' OR symbol like '%%RU000A0JVN64%%' OR symbol like '%%RU000A0JVN98%%' OR symbol like '%%RU000A0JVP39%%' OR symbol like '%%RU000A0JVT43%%' OR symbol like '%%RU000A0JVVA7%%' OR symbol like '%%RU000A0JVWL2%%' OR symbol like '%%RU000A0JVY04%%' OR symbol like '%%RU000A0JVYG8%%' OR symbol like '%%RU000A0JVZB6%%' OR symbol like '%%RU000A0JVZJ9%%' OR symbol like '%%RU000A0JW0S4%%' OR symbol like '%%RU000A0JW118%%' OR symbol like '%%RU000A0JW126%%' OR symbol like '%%RU000A0JW1G7%%' OR symbol like '%%RU000A0JW1V6%%' OR symbol like '%%RU000A0JW1Z7%%' OR symbol like '%%RU000A0JW316%%' OR symbol like '%%RU000A0JW5E3%%' OR symbol like '%%RU000A0JW5K0%%' OR symbol like '%%RU000A0JWA92%%' OR symbol like '%%RU000A0JWAT9%%' OR symbol like '%%RU000A0JWB59%%' OR symbol like '%%RU000A0JWBA7%%' OR symbol like '%%RU000A0JWBK6%%' OR symbol like '%%RU000A0JWBP5%%' OR symbol like '%%RU000A0JWDA3%%' OR symbol like '%%RU000A0JWDB1%%' OR symbol like '%%RU000A0JWF30%%' OR symbol like '%%RU000A0JWF71%%' OR symbol like '%%RU000A0JWGW0%%' OR symbol like '%%RU000A0JWJQ6%%' OR symbol like '%%RU000A0JWK74%%' OR symbol like '%%RU000A0JWKL5%%' OR symbol like '%%RU000A0JWKP6%%' OR symbol like '%%RU000A0JWKQ4%%' OR symbol like '%%RU000A0JWKY8%%' OR symbol like '%%RU000A0JWLU4%%' OR symbol like '%%RU000A0JWM49%%' OR symbol like '%%RU000A0JWMJ5%%' OR symbol like '%%RU000A0JWMZ1%%' OR symbol like '%%RU000A0JWN22%%' OR symbol like '%%RU000A0JWN63%%' OR symbol like '%%RU000A0JWN89%%' OR symbol like '%%RU000A0JWQ45%%' OR symbol like '%%RU000A0JWU23%%' OR symbol like '%%RU000A0JWU31%%' OR symbol like '%%RU000A0JWV63%%' OR symbol like '%%RU000A0JWVB3%%' OR symbol like '%%RU000A0JWWX5%%' OR symbol like '%%RU000A0JWYJ0%%' OR symbol like '%%RU000A0JWZT6%%' OR symbol like '%%RU000A0JX1C5%%' OR symbol like '%%RU000A0JX1S1%%' OR symbol like '%%RU000A0JX2B5%%' OR symbol like '%%RU000A0JX3M0%%' OR symbol like '%%RU000A0JXGV0%%' OR symbol like '%%RU000A0JXJM3%%' OR symbol like '%%RU000A0JXJP6%%' OR symbol like '%%RU000A0JXKQ2%%' OR symbol like '%%RU000A0JXLU2%%' OR symbol like '%%RU000A0JXMB0%%' OR symbol like '%%RU000A0JXN62%%' OR symbol like '%%RU000A0JXP29%%' OR symbol like '%%RU000A0JXPT5%%' OR symbol like '%%RU000A0JXQQ9%%' OR symbol like '%%RU000A0JXQU1%%' OR symbol like '%%RU000A0JXRM6%%' OR symbol like '%%RU000A0JXS26%%' OR symbol like '%%RU000A0JXS34%%' OR symbol like '%%RU000A0ZYBA9%%' OR symbol like '%%RU000A0ZYGF7%%' OR symbol like '%%RU000A0ZYGG5%%' OR symbol like '%%RU000A0ZYH51%%' OR symbol like '%%RU000A0ZYHU4%%' OR symbol like '%%RU000A0ZYJT2%%' OR symbol like '%%RU000A0ZYL89%%' OR symbol like '%%RU000A0ZYLX0%%' OR symbol like '%%RU000A0ZYMD0%%' OR symbol like '%%RU000A0ZYPB7%%' OR symbol like '%%RU000A0ZYWZ2%%' OR symbol like '%%RU000A0ZYX28%%' OR symbol like '%%RU000A0ZZ4T1%%' OR symbol like '%%RU000A0ZZ505%%' OR symbol like '%%RU000A0ZZ6K5%%' OR symbol like '%%RU000A0ZZ7G1%%' OR symbol like '%%RU000A0ZZ7H9%%' OR symbol like '%%RU000A0ZZ877%%' OR symbol like '%%RU000A0ZZ885%%' OR symbol like '%%RU000A0ZZ893%%' OR symbol like '%%RU000A0ZZCH9%%' OR symbol like '%%RU000A0ZZE87%%' OR symbol like '%%RU000A0ZZFZ4%%' OR symbol like '%%RU000A0ZZNW5%%' OR symbol like '%%RU000A0ZZR58%%' OR symbol like '%%RU000A0ZZUS8%%' OR symbol like '%%RU000A0ZZV86%%' OR symbol like '%%RU000A0ZZW77%%' OR symbol like '%%RU000A0ZZWQ8%%' OR symbol like '%%RU000A0ZZY59%%' OR symbol like '%%RU000A0ZZYS0%%' OR symbol like '%%RU000A0ZZYV4%%' OR symbol like '%%RU000A0ZZZ09%%' OR symbol like '%%RU000A0ZZZ25%%' OR symbol like '%%RU000A0ZZZ58%%' OR symbol like '%%RU000A1006X9%%' OR symbol like '%%RU000A1006Y7%%' OR symbol like '%%RU000A1006Z4%%' OR symbol like '%%RU000A1008V9%%' OR symbol like '%%RU000A100DQ4%%' OR symbol like '%%RU000A100EM1%%' OR symbol like '%%RU000A100GW5%%' OR symbol like '%%RU000A100JH0%%' OR symbol like '%%RU000A100T81%%' OR symbol like '%%RU000A100VS2%%' OR symbol like '%%RU000A100YY4%%' OR symbol like '%%RU000A100ZB9%%' OR symbol like '%%RU000A1011M2%%' OR symbol like '%%RU000A1014J2%%' OR symbol like '%%RU000A1015Z5%%' OR symbol like '%%RU000A101616%%' OR symbol like '%%RU000A1016A6%%' OR symbol like '%%RU000A1016B4%%' OR symbol like '%%RU000A101715%%' OR symbol like '%%RU000A1018M7%%' OR symbol like '%%RU000A1018T2%%' OR symbol like '%%RU000A1019A0%%' OR symbol like '%%RU000A101CJ9%%' OR symbol like '%%RU000A101D96%%' OR symbol like '%%RU000A101DA6%%' OR symbol like '%%RU000A101DB4%%' OR symbol like '%%RU000A101ER8%%' OR symbol like '%%RU000A101F11%%' OR symbol like '%%RU000A101H92%%' OR symbol like '%%RU000A101J33%%' OR symbol like '%%RU000A101JD7%%' OR symbol like '%%RU000A101JN6%%' OR symbol like '%%RU000A101R09%%' OR symbol like '%%RU000A101S99%%' OR symbol like '%%RU000A101TD6%%' OR symbol like '%%RU000A101TT2%%' OR symbol like '%%RU000A101U95%%' OR symbol like '%%RU000A101UU8%%' OR symbol like '%%RU000A101UW4%%' OR symbol like '%%RU000A101X01%%' OR symbol like '%%RU000A101Y18%%' OR symbol like '%%RU000A101ZJ0%%' OR symbol like '%%RU000A101ZU7%%' OR symbol like '%%RU000A1021E8%%' OR symbol like '%%RU000A1021F5%%' OR symbol like '%%RU000A1024A0%%' OR symbol like '%%RU000A1024R4%%' OR symbol like '%%RU000A102564%%' OR symbol like '%%RU000A102879%%' OR symbol like '%%RU000A102887%%' OR symbol like '%%RU000A1028R5%%' OR symbol like '%%RU000A1028U9%%' OR symbol like '%%RU000A102945%%' OR symbol like '%%RU000A102AP8%%' OR symbol like '%%RU000A102B71%%' OR symbol like '%%RU000A102CZ3%%' OR symbol like '%%RU000A102D46%%' OR symbol like '%%RU000A102E37%%' OR symbol like '%%RU000A102FE1%%')"

In [6]:
# make a query

sql = \
corporate_local

 
# read a table from database into pandas dataframe, replace "tablename" with your table name
corporate_local_table = pd.read_sql(sql,engine)
corporate_local_table.head()

,tradedate,local_timestamp,symbol,price,size,trade_id,trade_timestamp
0,2021-05-17,10:08:16.689000,MICEX.BND.RU000A100JH0.M2,102.13,1,3943055157,2021-05-17 10:08:16.585634
1,2021-05-17,10:06:22.655000,MICEX.BND.RU000A102CZ3.M2,100.11,15,3943038654,2021-05-17 10:06:22.634452
2,2021-05-17,10:08:46.814000,MICEX.BND.RU000A0JX1S1.MR1,4.91,198,3943058684,2021-05-17 10:08:46.788491
3,2021-05-17,10:12:25.040000,MICEX.BND.RU000A100JH0.M2,101.92,1,3943083513,2021-05-17 10:12:25.001802
4,2021-05-17,10:12:21.539000,MICEX.BND.RU000A0JT965.M2,103.11,1,3943083172,2021-05-17 10:12:21.490281

##### Regional_local

In [7]:
#download data from the excel-list
my_sheet = 'MICEX_Regional_local'
file_name = r'C:\Users\pzapolsky\Desktop\123\All_symbols_03122020.xlsx'
wb_regional_local = read_excel(file_name, sheet_name = my_sheet)
wb_regional_local = wb_regional_local.rename({'Unnamed: 0':'SECID', 'Unnamed: 1':'SHORTNAME', 'Unnamed: 2':'NAME', 'Unnamed: 3':'TYPENAME', 'Unnamed: 4':'ISIN'}, axis = 1).drop([0])
wb_regional_local['SQL_query_ID'] = "'%%"+wb_regional_local['SECID']+"%%'"

#Prepare a query
list_regional_local = list(wb_regional_local['SQL_query_ID'])
list_regional_local
regional_local = "select * from tickdata.trades t where (t.tradedate between '20210515' and '20210601') AND ("

for i in list_regional_local[:]:
    if list_regional_local.index(i) < (len(list_regional_local)-1):
        regional_local += 'symbol like '+i+" OR "
    else: 
        regional_local += 'symbol like '+i+")"
        
regional_local

"select * from tickdata.trades t where (t.tradedate between '20210515' and '20210601') AND (symbol like '%%RU000A0JNYN1%%' OR symbol like '%%RU000A0JU5W7%%' OR symbol like '%%RU000A0JUPE3%%' OR symbol like '%%RU000A0JUQB7%%' OR symbol like '%%RU000A0JUQH4%%' OR symbol like '%%RU000A0JUQP7%%' OR symbol like '%%RU000A0JV2J0%%' OR symbol like '%%RU000A0JVKF9%%' OR symbol like '%%RU000A0JVM81%%' OR symbol like '%%RU000A0JW1K9%%' OR symbol like '%%RU000A0JWGT6%%' OR symbol like '%%RU000A0JWHN7%%' OR symbol like '%%RU000A0JWKB6%%' OR symbol like '%%RU000A0JWLD0%%' OR symbol like '%%RU000A0JWM56%%' OR symbol like '%%RU000A0JWSQ7%%' OR symbol like '%%RU000A0JWT75%%' OR symbol like '%%RU000A0JWT91%%' OR symbol like '%%RU000A0JWUV3%%' OR symbol like '%%RU000A0JWX87%%' OR symbol like '%%RU000A0JWXF0%%' OR symbol like '%%RU000A0JWXQ7%%' OR symbol like '%%RU000A0JWY29%%' OR symbol like '%%RU000A0JWZ77%%' OR symbol like '%%RU000A0JWZM1%%' OR symbol like '%%RU000A0JX0B9%%' OR symbol like '%%RU000A0JX0Z8%%' OR symbol like '%%RU000A0JX215%%' OR symbol like '%%RU000A0JX2S9%%' OR symbol like '%%RU000A0JX314%%' OR symbol like '%%RU000A0JXR43%%' OR symbol like '%%RU000A0JXS83%%' OR symbol like '%%RU000A0JXSD3%%' OR symbol like '%%RU000A0JXT41%%' OR symbol like '%%RU000A0JXTW1%%' OR symbol like '%%RU000A0JXUD9%%' OR symbol like '%%RU000A0JXVH8%%' OR symbol like '%%RU000A0JXYS9%%' OR symbol like '%%RU000A0JY031%%' OR symbol like '%%RU000A0ZYB40%%' OR symbol like '%%RU000A0ZYBD3%%' OR symbol like '%%RU000A0ZYCD1%%' OR symbol like '%%RU000A0ZYCM2%%' OR symbol like '%%RU000A0ZYCZ4%%' OR symbol like '%%RU000A0ZYD55%%' OR symbol like '%%RU000A0ZYDQ1%%' OR symbol like '%%RU000A0ZYDU3%%' OR symbol like '%%RU000A0ZYF61%%' OR symbol like '%%RU000A0ZYFB8%%' OR symbol like '%%RU000A0ZYG60%%' OR symbol like '%%RU000A0ZYGM3%%' OR symbol like '%%RU000A0ZYHX8%%' OR symbol like '%%RU000A0ZYJ18%%' OR symbol like '%%RU000A0ZYJB0%%' OR symbol like '%%RU000A0ZYKH5%%' OR symbol like '%%RU000A0ZYKJ1%%' OR symbol like '%%RU000A0ZYKU8%%' OR symbol like '%%RU000A0ZYKW4%%' OR symbol like '%%RU000A0ZYL22%%' OR symbol like '%%RU000A0ZYL48%%' OR symbol like '%%RU000A0ZYM47%%' OR symbol like '%%RU000A0ZYMJ7%%' OR symbol like '%%RU000A0ZYML3%%' OR symbol like '%%RU000A0ZZ7E6%%' OR symbol like '%%RU000A0ZZ8X4%%' OR symbol like '%%RU000A0ZZ9P8%%' OR symbol like '%%RU000A0ZZC48%%' OR symbol like '%%RU000A0ZZEM5%%' OR symbol like '%%RU000A0ZZM87%%' OR symbol like '%%RU000A0ZZNJ2%%' OR symbol like '%%RU000A0ZZPB4%%' OR symbol like '%%RU000A0ZZQH9%%' OR symbol like '%%RU000A0ZZQQ0%%' OR symbol like '%%RU000A0ZZR33%%' OR symbol like '%%RU000A0ZZSW4%%' OR symbol like '%%RU000A0ZZUT6%%' OR symbol like '%%RU000A0ZZXZ7%%' OR symbol like '%%RU000A0ZZZV1%%' OR symbol like '%%RU000A100CN3%%' OR symbol like '%%RU000A100PP0%%' OR symbol like '%%RU000A100PR6%%' OR symbol like '%%RU000A100XP4%%' OR symbol like '%%RU000A100Y84%%' OR symbol like '%%RU000A1010D3%%' OR symbol like '%%RU000A1011B5%%' OR symbol like '%%RU000A1011Q3%%' OR symbol like '%%RU000A1013T3%%' OR symbol like '%%RU000A101665%%' OR symbol like '%%RU000A1016N9%%' OR symbol like '%%RU000A101988%%' OR symbol like '%%RU000A101P27%%' OR symbol like '%%RU000A101PA0%%' OR symbol like '%%RU000A101RB4%%' OR symbol like '%%RU000A101U61%%' OR symbol like '%%RU000A101UG7%%' OR symbol like '%%RU000A101WD0%%' OR symbol like '%%RU000A101WL3%%' OR symbol like '%%RU000A101Z17%%' OR symbol like '%%RU000A1020L5%%' OR symbol like '%%RU000A1024L7%%' OR symbol like '%%RU000A102598%%' OR symbol like '%%RU000A1025F6%%' OR symbol like '%%RU000A1026B3%%' OR symbol like '%%RU000A102895%%' OR symbol like '%%RU000A102A15%%' OR symbol like '%%RU000A102CR0%%' OR symbol like '%%RU000A102CT6%%' OR symbol like '%%RU000A102CX8%%' OR symbol like '%%RU000A102DQ0%%' OR symbol like '%%RU000A102DR8%%' OR symbol like '%%RU000A102DS6%%')"

In [8]:
# make a query

sql = \
regional_local

 
# read a table from database into pandas dataframe, replace "tablename" with your table name
regional_local_table = pd.read_sql(sql,engine)
regional_local_table.head()

,tradedate,local_timestamp,symbol,price,size,trade_id,trade_timestamp
0,2021-05-17,10:00:18.317000,MICEX.BND.RU000A0ZYCZ4.M2,101.40,3,3942961908,2021-05-17 10:00:05.649831
1,2021-05-17,10:00:58.003000,MICEX.BND.RU000A0JX0Z8.M2,103.75,1,3942982097,2021-05-17 10:00:57.914707
2,2021-05-17,10:06:56.706000,MICEX.BND.RU000A0ZYHX8.M2,102.32,9,3943044230,2021-05-17 10:06:56.666715
3,2021-05-17,10:08:18.291000,MICEX.BND.RU000A0JUQB7.M2,100.66,2,3943055317,2021-05-17 10:08:18.237235
4,2021-05-17,10:05:38.331000,MICEX.BND.RU000A0JUQP7.M2,100.43,13,3943032709,2021-05-17 10:05:38.306873

##### Municipal_local

In [9]:
#download data from the excel-list
my_sheet = 'MICEX_Municipal_local'
file_name = r'C:\Users\pzapolsky\Desktop\123\All_symbols_03122020.xlsx'
wb_municipal_local = read_excel(file_name, sheet_name = my_sheet)
wb_municipal_local = wb_municipal_local.rename({'Unnamed: 0':'SECID', 'Unnamed: 1':'SHORTNAME', 'Unnamed: 2':'NAME', 'Unnamed: 3':'TYPENAME', 'Unnamed: 4':'ISIN'}, axis = 1).drop([0])
wb_municipal_local['SQL_query_ID'] = "'%%"+wb_municipal_local['SECID']+"%%'"

#Prepare a query
list_municipal_local = list(wb_municipal_local['SQL_query_ID'])
list_municipal_local
municipal_local = "select * from tickdata.trades t where (t.tradedate between '20210515' and '20210601') AND ("

for i in list_municipal_local[:]:
    if list_municipal_local.index(i) < (len(list_municipal_local)-1):
        municipal_local += 'symbol like '+i+" OR "
    else: 
        municipal_local += 'symbol like '+i+")"
        
municipal_local

"select * from tickdata.trades t where (t.tradedate between '20210515' and '20210601') AND (symbol like '%%RU000A0JVUD3%%' OR symbol like '%%RU000A0JWHW8%%' OR symbol like '%%RU000A0JWZ10%%' OR symbol like '%%RU000A0ZYH93%%' OR symbol like '%%RU000A0ZYJ00%%' OR symbol like '%%RU000A100WF7%%' OR symbol like '%%RU000A1018A2%%' OR symbol like '%%RU000A1029G6%%')"

In [10]:
# make a query

sql = \
municipal_local

 
# read a table from database into pandas dataframe, replace "tablename" with your table name
municipal_local_table = pd.read_sql(sql,engine)
municipal_local_table.head()

,tradedate,local_timestamp,symbol,price,size,trade_id,trade_timestamp
0,2021-05-17,10:38:50.646000,MICEX.BND.RU000A0JVUD3.M2,105.00,2,3943223929,2021-05-17 10:38:50.639070
1,2021-05-18,10:32:11.557000,MICEX.BND.RU000A100WF7.M2,100.20,1,3949205322,2021-05-18 10:32:11.542246
2,2021-05-18,16:04:50.316000,MICEX.BND.RU000A1029G6.M2,99.37,7,3950497161,2021-05-18 16:04:50.283521
3,2021-05-19,12:50:17.104000,MICEX.BND.RU000A0JVUD3.M2,105.11,16,3955878662,2021-05-19 12:50:17.014599
4,2021-05-19,14:02:32.292000,MICEX.BND.RU000A0ZYJ00.M2,101.23,10,3956183782,2021-05-19 14:02:32.252606

### OBR

In [17]:
#download data from the excel-list
my_sheet = 'MICEX_OBR'
file_name = r'C:\Users\pzapolsky\Desktop\123\All_symbols_03122020.xlsx'
wb_obr = read_excel(file_name, sheet_name = my_sheet)
wb_obr = wb_obr.rename({'Unnamed: 0':'SECID', 'Unnamed: 1':'SHORTNAME', 'Unnamed: 2':'NAME', 'Unnamed: 3':'TYPENAME', 'Unnamed: 4':'ISIN'}, axis = 1).drop([0])
wb_obr['SQL_query_ID'] = "'%%"+wb_obr['SECID']+"%%'"

#Prepare a query
list_obr = list(wb_obr['SQL_query_ID'])
list_obr
obr = "select * from tickdata.trades t where (t.tradedate between '20200101' and '20201230') AND ("

for i in list_obr[:]:
    if list_obr.index(i) < (len(list_obr)-1):
        obr += 'symbol like '+i+" OR "
    else: 
        obr += 'symbol like '+i+")"
        
obr

"select * from tickdata.trades t where (t.tradedate between '20200101' and '20201230') AND (symbol like '%%RU000A102374%%' OR symbol like '%%RU000A102770%%' OR symbol like '%%RU000A102BC4%%')"

In [18]:
# make a query

sql = \
obr

 
# read a table from database into pandas dataframe, replace "tablename" with your table name
obr_table = pd.read_sql(sql,engine)
obr_table.head()

,tradedate,local_timestamp,symbol,price,size,trade_id,trade_timestamp
0,2020-12-08,15:11:45.179000,MICEX.EQT.RU000A102BC4.M2,100.005,500000,3399906608,2020-12-08 15:11:45.170497
1,2020-09-16,11:57:05.789000,MICEX.EQT.RU000A102374.M2,100.001,100,3297647852,2020-09-16 11:57:05.743103
2,2020-11-18,12:01:15.515000,MICEX.EQT.RU000A102BC4.MR1,4.130,5152578,3373317206,2020-11-18 12:01:15.462756
3,2020-11-30,16:47:23.583000,MICEX.EQT.RU000A102BC4.MR1,4.150,1459698,3388758305,2020-11-30 16:47:23.530168
4,2020-11-03,11:09:12.279000,MICEX.EQT.RU000A102770.M2,100.020,10,3352190263,2020-11-03 11:09:12.179249

##### Exract different trade regimes

In [19]:
#if the data was exported earlier and we only need to download it from the box

# Corporate_eurobonds_table = pd.read_csv('Corporate Eurobonds.csv', sep = ',')
# Sovereign_eurobonds_table = pd.read_csv('Sovereign Eurobonds.csv', sep = ',')
# MFO_eurobonds_table = pd.read_csv('MFO Eurobonds.csv', sep = ',')
# OFZ_table = pd.read_csv('OFZ.csv', sep = ',')
# corporate_local_table = pd.read_csv('Corporate local bonds.csv', sep = ',')
# regional_local_table = pd.read_csv('Regional local bonds.csv', sep = ',')
# municipal_local_table = pd.read_csv('Municipal local bonds.csv', sep = ',')
# obr_table = pd.read_csv('OBR bonds.csv', sep = ',')

In [20]:
#Corporate_Eurobonds
Corporate_eurobonds_table['Regime'] = (Corporate_eurobonds_table['symbol'].str.extract(r'\b(\w+)$'))

# #Sovereign_Eurobonds
Sovereign_eurobonds_table['Regime'] = (Sovereign_eurobonds_table['symbol'].str.extract(r'\b(\w+)$'))

# #MFO
MFO_eurobonds_table['Regime'] = (MFO_eurobonds_table['symbol'].str.extract(r'\b(\w+)$'))

# #OFZ
OFZ_table['Regime'] = (OFZ_table['symbol'].str.extract(r'\b(\w+)$'))   

#orporate_local

corporate_local_table['Regime'] = (corporate_local_table['symbol'].str.extract(r'\b(\w+)$'))

#regional_local

regional_local_table['Regime'] = (regional_local_table['symbol'].str.extract(r'\b(\w+)$'))

#Municipal_local

municipal_local_table['Regime'] = (municipal_local_table['symbol'].str.extract(r'\b(\w+)$'))

#OBR

obr_table['Regime'] = (obr_table['symbol'].str.extract(r'\b(\w+)$'))

##### Export data from MICEX in CSV

In [11]:
#Corporate_eurobonds_table.to_csv('Corporate_eurobonds_trades.csv')
#Sovereign_eurobonds_table.to_csv('Sovereign_eurobonds_trades.csv')
#MFO_eurobonds_table.to_csv('MFO_eurobonds_trades.csv')
OFZ_table.to_csv('OFZ_trades.csv')
corporate_local_table.to_csv('corporate_local_trades.csv')
regional_local_table.to_csv('regional_local_trades.csv')
municipal_local_table.to_csv('municipal_local_trades.csv')
#obr_table.to_csv('obr_trades.csv')

In [13]:
corporate_local_table.to_csv('corporate_local_trades.csv')

In [9]:
corporate_local_table.to_csv('corporate_local_trades.csv')
OFZ_table.to_csv('OFZ_trades.csv')

### Calculate turnover for individual security

##### Sber EQT example of turnover calculation

In [3]:
#download data

Sber = '''
    select * 
    from tickdata.trades t 
    where (t.tradedate = '20201201') 
    AND 
    (t.symbol like '%%MICEX.EQT.SBER.M2%%')''' #here you can paste any security you want (in case you have its greenplum name)

sql = \
Sber

 
# read a table from database into pandas dataframe, replace "tablename" with your table name
Sber_table = pd.read_sql(sql,engine)
Sber_table.head()

,tradedate,local_timestamp,symbol,price,size,trade_id,trade_timestamp
0,2020-12-01,10:00:03.920000,MICEX.EQT.SBER.M2,250.10,20,3389524727,2020-12-01 10:00:00.828172
1,2020-12-01,10:01:24.501000,MICEX.EQT.SBER.M2,250.50,4120,3389534447,2020-12-01 10:01:24.431310
2,2020-12-01,10:00:21.258000,MICEX.EQT.SBER.M2,250.59,3770,3389528838,2020-12-01 10:00:21.191223
3,2020-12-01,10:00:22.569000,MICEX.EQT.SBER.M2,250.64,440,3389528937,2020-12-01 10:00:22.498603
4,2020-12-01,10:00:58.686000,MICEX.EQT.SBER.M2,250.61,9500,3389531916,2020-12-01 10:00:58.576712

In [44]:
# sber turnover calculation

Sber_table['turnover'] = Sber_table['price']*Sber_table['size']
a = round(Sber_table['turnover'].sum()/1000000000,1) #bn rub overall turnover per day

Sber_table['local_timestamp'] = Sber_table['local_timestamp'].apply(lambda x: str(x))
Sber_table1 = Sber_table['18:50:00' < Sber_table['local_timestamp']]
Sber_table1['turnover'] = Sber_table1['price']*Sber_table1['size']
b = round(Sber_table1['turnover'].sum()/1000000000,1) #bn rub turnover evening trading session

In [69]:
# evening trading session turrnover / total turnover

print('Evening trading turnover constitues',round(b/a*100,1),'% of the total turnover per day')

Evening trading turnover constitues 8.1 % of the total turnover per day

In [89]:
#Sber EQT trading regimes

Sber_table['Regime'] = (Sber_table['symbol'].str.extract(r'\b(\w+)$'))
Sber_table['turnover'] = Sber_table['price']*Sber_table['size']
Sber_table.groupby(['Regime']).sum()

               price       size         trade_id      turnover
Regime
M2      4.275127e+07  130524920  567045106786112  3.339544e+10

In [92]:
#Sber daily turnover in RUB

res = int(Sber_table.groupby(['Regime']).sum().turnover)
print("Sber daily turnover is",f"{res:.0f}", "RUB")

Sber daily turnover is 33395439555 RUB

## oborot